/*Font Size*/

.small-font {

	font-size : 12px !important;
}

.mid-font {

	font-size : 20px;
	line-height: 40px;
}

.big-font {

	font-size : 30px;
}

.huge-font {
	font-size: 132px;
}

/*Background*/

.transbg{/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.6);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}

.bluebg{

	background: #258dc8; /* Old browsers */
	background: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#258dc8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #258dc8 0%,#258dc8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #258dc8 0%,#258dc8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #258dc8 0%,#258dc8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #258dc8 0%,#258dc8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
}

.light-bluebg{

	background: #d6f9ff; /* Old browsers */
	background: -moz-linear-gradient(top, #d6f9ff 0%, #9ee8fa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6f9ff), color-stop(100%,#9ee8fa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d6f9ff 0%,#9ee8fa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d6f9ff 0%,#9ee8fa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d6f9ff 0%,#9ee8fa 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d6f9ff 0%,#9ee8fa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
}

.black3d{

	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.black3dleft{

	background: #111; /* Old browsers */
	background: -moz-linear-gradient(right, #111 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, right, left, color-stop(0%,#333), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(right, #111 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(right, #111 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(right, #111 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to left, #111 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.red3d{

	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.light-grey-bg {
	background: #eee;
}

.bg-red
{
	background: #e13f3f;
}

.bg-light-blue
{
	background: #b4cfff;
}

.bg-light-green
{
	background: #67c77b;
}

.bg-dark-grey
{
	background: #4c4c4c;
}

.bg-dark-green
{
	background: #64bdb4;
}

.bg-light-grey
{
	background: #c3c494;
}

.bg-light-orange
{
	background: #d0972a;
}

.bg-dark-pink
{
	background: #b360aa;
}

.seventeen-bg {
	background: #6B6969 none repeat scroll 0% 0%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

/*Margin & Padding*/

.small-margin {

	margin-top:10px;
	margin-bottom:10px;
}

.mid-margin {

	margin-top:20px;
	margin-bottom:20px;
}

.big-margin {

	margin-top:50px;
	margin-bottom:50px;
}

.small-top-margin {
	margin-top: 10px;
}

.mid-top-margin {
	margin-top: 20px;
}

.big-top-margin {

	margin-top: 40px;
}

.huge-top-margin {

	margin-top: 90px;
}

.small-bottom-margin
{
	margin-bottom: 10px;
}

.mid-bottom-margin
{
	margin-bottom: 20px;
}

.big-bottom-margin
{
	margin-bottom: 40px;
}

.small-side-margin {

	margin-left:10px;
	margin-right:10px;
}

.mid-side-margin {

	margin-right:20px;
	margin-right:20px;
}

.big-side-margin {

	margin-left:40px;
	margin-right:40px;
}

.small-padding {

	padding-top:10px;
	padding-bottom: 10px;
}

.mid-padding {

	padding-top: 20px;
	padding-bottom: 20px;
}

.big-padding {

	padding-top: 40px;
	padding-bottom: 40px
}

.small-bottom-padding
{
	padding-bottom: 10px;
}

.small-side-padding {

	padding-left: 10px;
	padding-right: 10px;
}

.mid-side-padding {

	padding-left: 20px;
	padding-right: 20px;
}

.big-side-padding {

	padding-left: 40px;
	padding-right: 40px;
}

/*Text Alignment*/

.text-center {

	text-align: center;
}

/* Text Color */

.text-white	{

	color: #fff !important;

}

.text-nexthop
{
	color: #D15A1A !important;
}

.text-dark
{
	color: #333 !important;
}

.text-light-grey
{
	color: #B6B4A8 !important;
}

.text-blue
{
	color: #0072BC !important;
}

.text-gold
{
	color: #907112 !important;
}

.text-white-grey
{
	color: #f3f1fb;
}

/* Text Size*/

.small-text
{
	font-size: 18px;
}

.tiny-text
{
	font-size: 10px !important;
}


/* Line Height */

.small-height {
	line-height: 20px;
}

.mid-height {
	line-height: 40px;
}

.big-height {
	line-height: 60px;
}

.huge-height {
	line-height: 80px;
}

/*Radius*/

.small-radius
{
	border-radius: 3px;
}


/* Border */

.border-bottom
{
	border-bottom: 1px solid rgba(145, 142, 191, 0.2);
}