header {
	text-align: center !important;
	padding: 20px;
	background: url('../system_img/banner.jpg');
}

header img {
	width:  200px;
}

nav.navbar {
	font-size: 18px;
}

nav .navbar-nav {
	text-transform: uppercase;
}

.content-wrap {
	background: #fff;
}

.enterprise-logo {
	width:  150px;
	margin : 20px;
}


.sub-footer{
	background: orange;
}

footer {
	background: #333;
	padding: 15px;
	color:  #eee;
}

.contact {
	text-align: right;
}

.dropdown-menu {
	background: #333333a1 !important;
	color: #fff;
}

.dropdown-item {
	color:  #fff !important;
}

.dropdown-item:hover {
	background: #DC3545;
}

.content-data {
	background: #f0f5f9;
}

.summary-img img {
	width: 300px !important;
}

.product-item {
	background: #f0f5f9 !important;
	border-radius: 5px;
	padding:  20px;
	min-height: 510px;
}

.demo-item {
	background: #ebebeb !important;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding:  20px;
}

.product-item img {
	margin: 10px 0px 10px 0px auto;
}

.item-head {
	height: 50px;
}

.after_content1_wrapper {
	background: #f0f5f9 !important;
}

@media only screen and (max-width: 700px) {
  .enterprise-logo {
  	width: 75px;
  	margin:  10px;
  }

  .contact {
  	text-align: left;
  	margin-top: 20px;
  }
}