@font-face{
	font-family: 'menlo';
	src: url('../fonts/Menlo-Regular.ttf');
}

@font-face {
 	font-family:"LatoLatin";
 	src:url("../fonts/LatoLatin-Light.eot?") 
 	format("eot"),url("../fonts/LatoLatin-Light.woff") 
 	format("woff"),url("../fonts/LatoLatin-Light.ttf") 
 	format("truetype"),url("../fonts/LatoLatin-Light.svg#LatoLatin-Light") 
 	format("svg");
 	font-weight:normal;
 	font-style:normal;
 }

.menlo{
	font-family: 'menlo' !important;
}

.backend{
	font-family: 'LatoLatin' !important;
}

.main-wrapper{
	position: relative;
}

.margin{
	top: 29px;
}

@media screen and (max-width: 767px) {
	.margin{
		top: 29px;
	}
}

body{
	background: #fff;
	color: #747474;
	font-size: 13px !important;
}

table.table-bordered tr td{
	border: 1px solid #bbb !important;
}

.main-wrapper{
	position: relative;
}

header{
	background: #333;
	padding: 10px;
	color: #fff;
	position: relative;
}

header .slogam{
	font-size: 22px;
	position: relative;
	top: 10px;
	color: #fed73a;
}

header .userstate{
	position: relative;
	top: 30px;
	color: #fed73a;
}

header img{
	width: 50px;
	display: inline;
}

.content img{
	width: 50%;
}


.username a{
	line-height: 30px;
}

.ignite-nav{
	margin-bottom: 0px !important;
	background: #111 !important;
	border-radius: 0px !important;
	min-height: 0px;
	border: 0px !important;
	font-size: 12px !important;
	border-bottom: 1px solid #fed73a !important;
	width: 100%;	
	z-index: 1200;
	position: fixed;
}

.ignite-nav ul li a{
	padding: 5px 10px 5px 10px;
}

.text-ignite{
	color: #DB6B24 !important;
}

.ignite-footer{
	position: relative;
	bottom: 0px;
	background: #1D1D1D;
}

.navbar-nav > li > a:hover{
	background: #eee;
}

.icon-bar{
	background: #3B3B3B;
}

.ignite-nav a{
	color: #eee;
	text-decoration: none;
}

.ignite-nav a:hover{
	background: eee !important;
	color: #333;
}

.ignite-nav .open > a, .ignite-nav .open > a:hover, .ignite-nav .open > a:focus {
	background: rgba(77, 75, 75, 0.34) !important;
	color: #eee;
}

.ignite-nav div.dropdown-menu{
	background: #111111ba;
	border-radius: 2px;
	font-size: 12px;
}

.ignite-nav div.dropdown-menu li a{
	color: #eee;
}

.username a:hover, .username ul li a:hover{
	background: none !important;
}

.username .open > a, .username .open > a:hover, .username .open > a:focus {
	background: none !important;
	color: #333;
}

.summary-img img{
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto !important;
}

.footer-first{
	background: #1588bc;
	color: #eee;
	line-height: 24px;
	border-bottom: 1px solid #fed73a;
}

.footer-first a{
	color: #fff;
}

.footer-second{
	background: #fff;
	color: #333;
}

.front-wrapper{
	height: 100% !important;
}

.footer-second-front{
	position: fixed;
	bottom: 0px;
	background: #fff;
	color: #333;
	padding: 5px;
	width: 100%;
}

legend{
	border-bottom: 1px solid RGBA(253, 67, 17, 0.21);
}

.front-wrapper{
	margin-bottom: 40px;
}

.login{
	border: 1px solid #bbb;
	border-radius: 3px;
	padding: 20px;
	background: #fff;
}

.login h4{
	margin-bottom: 30px;
	color: #333;
}

input, select, button, textarea{
	font-size: inherit !important;
}

.ignite-nav ul li{
	font-size: 12px;
}

.main-content{
	padding: 20px;
}

.main-content ul li{
	line-height: 24px;
}

.main-content p{
	line-height: 24px;
}

.main-content h4{
	line-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
}

hr{
	border-top: 1px solid #ddd !important;
}

.menu-box{
	min-height: 250px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.menu-box ul li{
	margin-left: 30px !important;
}

.menu-box ul{
	margin-bottom: 0px;
}

.menu-box ul:last-child{
	border-bottom: none;
}

textarea{
	height: 150px !important;
	resize: none;
}

table th{
	text-align: center;
	background: #333;
	color: #eee;
}

table th, table td{
	font-size: 12px;
}

table tbody tr:nth-child(even){
	background: #fffbdf;
}

table.ignite a{
	color: #FD4311;
	text-decoration: none;
}

table.ignite a:hover{
	color: #AB3313;
}

.owl-carousel .item{
	margin: 0px 10px 0px 10px;
	background: #fff;
}

a.img-edit{
	position: absolute !important;
	top: 0px;
	right: 6%;
	color: #FD4311;
	font-size: 14px;
}

a.img-edit:hover{
	color: #AB3313;
}

.carouselImg ul.dropdown-menu{
	top:10%;
	left: 40%;
	width: 50%;
	font-size: 12px;
}

/* Image Browser */

.browser-head{
	background: #333 !important;
	padding: 7px 20px 7px 20px;
	color: #eee;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.browser-head img{
	width: 30px;
}

.browser-body{
	position:relative;
	top: 50px;
}

.browser-left{
	/*border-right: 1px solid #bbb;*/
	position: fixed;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
	width: 230px;
}

.browser-content{
	background: #fff;
	min-height: 400px;
	border-radius: 3px;
	border:1px solid #ddd;
	padding: 20px;
}

.modal-backdrop{
	z-index: -1 !important;
}

div.img-name{
	max-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis !important;
}

.thumb{
	height: 200px !important;
	overflow: hidden;
	cursor: pointer;
	text-overflow: ellipsis !important;
}

.thumb:hover{
	background: rgba(51, 51, 51, 0.21) none repeat scroll 0% 0%;
	color: #fff;
}

.thumb-img{
	min-height: 130px;
	vertical-align: bottom !important;
}

.thumb img{
	max-height: 130px;
	width: auto;
	position: relative;
	bottom: 0px;
}

.body-text{
	height: 240px !important;
}

.blockContent h4{
	overflow: hidden;
	text-overflow: ellipsis !important;
	line-height: 35px;
}

.beforeContent2-wrapper{
	background: #1588bc;
}

.beforeContent2-wrapper a{
	color: #eee;
	text-decoration: none;
}

.beforeContent2-wrapper a:hover{
	color: #fff;
}

.edit{
	position: absolute !important;
	top: 40px;
	right: 40px;
}

.edit .fa{
	text-shadow: 1px 1px 3px #333;
}

.edit .fa:hover{
	color: #DB6B24;
}

.edit ul li{
	margin: 0px;
	padding: 5px;
	background: #eee;
	border: 1px solid #ddd;
}

.wrapper-new{
	border: 1px solid #ddd;
}

.wrapper-new .pageData{
	padding-left: 5px;
	padding-right: 5px;
}

.wrapper-new h4.title{
	margin-top: 0px;
}

.my-nav .logo{
	float: left;
}

.my-nav .logo img{
	width: 60px;
	position: relative;
	top: 5px;
}

.my-nav .slogam{
	font-size: 22px;
	line-height: 60px;
	float: left;
	margin-left: 20px;
	color: #fff;
}

.menu-structure{
	background: #fff;
	padding: 20px;
	border-radius: 3px;
	min-height: 500px;
}

.menu-structure ul{
	list-style: none;
}

.menu-structure ul li{
	padding-left: 30px;
}

option .divided{
	border-bottom: 1px solid #bbb;
}

#img_edit{
	position: absolute;
	top: 5px;
	right: 20px;
}

#img_edit .fa:hover{
	color: #fff !important;
}

.carousel-preview .dropdown-menu{
	top: 20px;
	right: 15px;
	left: 50%;
	background: rgba(69, 68, 68, 0.67);
	border-radius: 0px;
	padding: 0px;
}

.carousel-preview .dropdown-menu li a{
	color: #fff;
}

.carousel-preview .dropdown-menu li a:hover{
	color: #fff;
	background: rgba(207, 118, 18, 0.77);
}

.setting-block{
	background: #33548C;
	padding: 20px;
	border-radius: 3px;
	border: 1px solid #ddd;
	color: #FFF;
}

.backend a{
	text-decoration: none !important;
}

.setting-block:hover{
	border: 1px solid RGBA(53, 67, 144, 0.32);
}

.setting-block i{
	background: #fff;
	padding: 30px;
	border-radius: 50%;
	color: #33548C;
	border: 1px solid rgba(187, 187, 187, 0.51);
}

.user-block{
	border: 1px solid #bbb;
	box-shadow: 2px 2px 4px #ddd;
}

.user-block .header{
	background: #333;
	padding: 5px 10px 5px 10px;
	color: #fff;
}

.user-block .body{
	background: #eee;
	padding: 10px;
	color: #333;
	line-height: 24px;
}

/* Upload Preview */

.file-upload
{
	border: 1px solid #ddd;
	height: 150px;
}

.fileBrowser-upload{
	border: 1px solid #ddd;
	height: 250px !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.preview
{
	width: 175px;
	height: 130px;
}

.preview-browser
{
	width: 175px;
	height: 130px;
}

.contentView img{
	/*width: 100% !important;*/
	height: auto !important;
}

.contentView table tr td{
	padding: 0px 10px 0px 10px !important;
	line-height: 14px !important;
	vertical-align: middle !important;
}

/*--------------------------------------*/

.form-control {
	height: 30px;
	border-radius: 2px;
	font-size: 12px !important;
}

[draggable=true] {
    cursor: move;
}

.bg-ignite{
	background-color: #ddd !important;
}

.my-pagination li{
	padding: 5px 10px 5px 10px;
	margin-right: 2px;
	display: inline-block;
	border: 1px solid #e7e7e7;
}

.my-pagination li:hover{
	background: #eee;
}

.my-pagination li.active{
	background: #f09e0f;
	color: #fff;
}

.my-pagination li a{
	text-decoration: none !important;
}

.btn-circle{
	border-radius: 50%;
	padding: 4px 8px !important;
}

div.divider{
	border-bottom: 1px solid #dad9d9;
    width: 100%;
    margin: 10px 0px;
}