@font-face {
	font-family: 'myanmar';
	src: url('../fonts/MyanmarText.eot#'); /* IE9 Compat Modes */
	src: url('../fonts/MyanmarText.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyanmarText.woff') format('woff'),
	url('../fonts/MyanmarText.tff') format('truetype'),
	url('../fonts/MyanmarText.svg#MyanmarText') format('svg');/* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

 @font-face {
 	font-family:"Lato";
 	src:url("../fonts/Lato-Hairline.eot?") 
 	format("eot"),url("../fonts/Lato-Hairline.woff") 
 	format("woff"),url("../fonts/Lato-Hairline.ttf") 
 	format("truetype"),url("../fonts/Lato-Hairline.svg#Lato-Hairline") 
 	format("svg");
 	font-weight:normal;
 	font-style:normal;
 }

 @font-face {
 	font-family:"LatoLatin";
 	src:url("../fonts/LatoLatin-Light.eot?") 
 	format("eot"),url("../fonts/LatoLatin-Light.woff") 
 	format("woff"),url("../fonts/LatoLatin-Light.ttf") 
 	format("truetype"),url("../fonts/LatoLatin-Light.svg#LatoLatin-Light") 
 	format("svg");
 	font-weight:normal;
 	font-style:normal;
 }

 @font-face{
	font-family: 'gothic';
	src: url('../fonts/gothic.woff');
}

@font-face{
	font-family: 'jose';
	src: url('../fonts/JosefinSans-Regular.ttf');
}

@font-face{
	font-family: 'cinzel';
	src: url('../fonts/Cinzel-Regular.ttf');
}

@font-face{
	font-family: 'PoiretOne';
	src: url('../fonts/PoiretOne-Regular.ttf');
}

@font-face{
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Regular.ttf');
}

@font-face{
	font-family: 'segoe';
	src: url('../fonts/segoepr.ttf');
}

.lato{
	font-family: 'Lato' !important;
}

.jose{
	font-family: 'jose' !important;
}

.gothic{
	font-family: 'gothic' !important;
}

.cinzel{
	font-family: 'cinzel' !important;
}

.PoiretOne{
	font-family: 'PoiretOne' !important;
}

.Cormorant{
	font-family: 'Cormorant' !important;
}

.lato-latin{
	font-family: 'LatoLatin' !important;
}

.segoe{
	font-family: 'segoe' !important;
}

.myanmar 
{
	font-family: 'myanmar' !important;
}

body{
	font-family: 'LatoLatin';
	font-size: 15px !important;
	color: #333;
}

hr{
	border-color: #ddd;
}

.navbar{
	padding: 0px;
}